* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

.header {
    background-color: #92a8b6;
    padding: 24px 0 24px 32px;    
}

.header-container {
    font-size: 2rem;
    color: #2c3e50;
    font-weight: bold;
}

.card {
    
    margin: 48px 0 48px 48px;
}

.card-container {
    background-color: #e6ebef;
    margin: 0 0 48px 48px;
    width: 40vw;
    padding: 24px 0 24px 32px;
    border: 2px solid #42586b;
}

.card-title {
    font-size: 1.5rem;
    color: #2c3e50;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
}

.card-image {
    object-fit: cover;
    margin: 24px 0 24px 0;
}

.card-content {
    font-size: 1.2rem;
    margin-top: 24px;
}